/* Normalize */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    margin: 0;
}

/* Variables */
:root {
    --color-blue: #00A4E5;
    --color-grey: #48555B;
    --color-white: #fff;
}

/* Overall Width */
.container {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 10px 0 10px;
}

section {
    width: 100%;
    box-shadow: 0px -17px 41px -5px rgba(0, 0, 0, 0.2);
}

/* Header */
.header,
.about,
.education {
    background-color: #f2edea;

}

.header__h1 {
    font-size: 110px;
    text-transform: uppercase;
    padding-top: 160px;
    font-weight: 100;
    transition: all 1.5s;
    transform: translateY(10%);
}

.header__line {
    background-color: #000;
    height: 2px;
    width: 700px;
    margin-top: 20px;
    transition: all 2s;
    transform: translateY(10%);
}

.header__ang {
    font-size: 45px;
    margin-top: 40px;
    font-weight: 100;
    transition: all 1.5s;
    transform: translateY(10%);
}

.header__h3 {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 227px !important;
    transition: all 1.5s;
    transform: translateY(10%);
}
@media screen and (max-width: 750px) {
    .header__h1 {
        font-size: 55px;
        padding-top: 68px;
    }
    .header__line {
        width: 360px;
    }
    .header__ang, .header__h3 {
        font-size: 25px;
    }
    .header__h3 {
        padding-bottom: 158px !important;
    }
}
/* about */
.ab {
    max-width: 1020px;
    padding-left: 30px;
    padding-right: 30px;

}
.about__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    justify-items: center;
    padding-bottom: 170px;
    transition: all 1.5s;
    transform: translateY(10%);
}
.about__grid-foto {
    
}
.about__grid-foto-img {
    width: 300px;
    margin: 0 auto;
}

.about__grid-foto-icon {
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
}

.mail {display: block;
    text-align: center;
    margin-top: 10px;
    color: #393939;
}
@media screen and (max-width: 750px) {
    .prog_1__h{
        font-size: 40px;
    }
    .about__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        top: -113px;
        padding-bottom: 52px;
    }
    .about__grid-text {
        grid-row-start: 1;
    }
    .ed {
        padding-bottom: 0 !important;
    }
}
.fa {
    font-size: 20px;
}

.icon {
    color: #393939;
}

.icon:hover {
    color: #6a6a6a;
}

.text {
    font-size: 20px;
}

.about__grig-text-ed-up {
    text-transform: uppercase;
    font-size: 20px;
}

.about__grig-text-ed {
    font-size: 15px;
}

.about__grig-text-line {
    width: 150px;
    height: 1px;
    background-color: #656565;
}

.first {
    margin-top: 0;
}

h4 {
    margin: 19px 0;
}

/* education */
.big {
    font-size: 20px;
}
.ed {
    padding-bottom: 50px;
}

/* Project 1 */
.prog_1__h {
    text-align: center;
    margin-bottom: 50px;
}

.proj-1__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
}

.proj-1__flex_img-1 {
    max-width: 500px;
    margin-top: 20px;
}

.text-img {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.port {
    text-align-last: left;
    font-size: 25px;
    margin-left: 35px;
    padding: 5px;
    max-width: 530px;
    background-color: #e3dfd6;
}
@media screen and (max-width: 600px) {
    .proj-1__flex_img-1 {
        max-width: 360px;
    }
}
    
.t1 {
    max-width: 664px;
}

.t2 {
    max-width: 505px;
}

.t3 {
    max-width: 630px;
}

.t4 {
    max-width: 180px;
}
.proj-1__flex {
    margin-top: 90px;
}
/* pr2 */
.pr2 {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    top: 35px;
    padding-bottom: 200px;
}
.pr5 {
    max-width: 40%;
    display: block;
    margin: 0 auto;
    top: -22px;
    padding-bottom: 100px;
}
.pr6 {
    max-width: 55%;
    display: block;
    margin: 0 auto;
    top: -22px;
    padding-bottom: 100px;
}
@media screen and (max-width: 600px) {
    .pr6, .pr5 {
        max-width: 100%;
    }
}
.pr7 {
    max-width: 900px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
@media screen and (max-width: 950px) {
    .pr7 {
        max-width: 100%;
    }
}
.p7 {
    padding-bottom: 100px;
}
@media screen and (max-width: 1050px) {
    .proj-1__flex {
        display: block;
    }
    .proj-1__flex_img-1 {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
}